
.child-register {
  width: 100vw;
  height: 100vh;
  background-image: url("src/assets/login.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.register-card {
  padding-top: 45px;
   padding-right: 45px;
  border-radius: 24px;
  width: 380px;
  text-align: center;
  z-index: 2;
}

.register-card h1 {
  font-size: 28px;
  color: #2d6a4f;
}

.register-card p {
  color: #555;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 14px;
  border: 2px solid #cde8d5;
  font-size: 16px;
}

.note {
  font-size: 13px;
  color: #777;
  margin-top: 10px;
}
.register-card button {
  width: 80%;
  padding: 18px 28px;
  font-size: 1.2rem;
  border-radius: 999px;
}

